{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-6" id="middle-section">
        <div class="row my-0">
            <div class="co-lg-12">
                <!-- Call to Action Well -->
                <div class="card text-white bg-secondary mx-0 text-center" style="width: 100%;">
                    <div class="card-body ">
                        <p class="text-white m-0">Please be sure to enable the result </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-4 text-center">
                <a href="" target="_blank">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                            </span></a>
                <p class="h-25">Branches</p>

            </div>
            <div class="col-lg-4 text-center">
                <a href="" target="_blank">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                            </span></a>
                <p class="h-25">ATM</p>
            </div>
            <div class="col-lg-4 text-center">
                <a href="" target="_blank">
                        <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                            </span></a>
                <p class="h-25">Agents</p>
            </div>

            <!-- second set of menus -->

            <div class="col-lg-4 text-center my-5">
                <a href="" target="_blank">
                   <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-stack-exchange fa-stack-1x fa-inverse"></i>
                            </span></a>
                <p class="h-25">Exchange</p>
            </div>
            <div class="col-lg-4 text-center my-5">
                <a href="" target="_blank">
                    <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                            </span></a>
                <p class="h-25">Contacts</p>
            </div>
            <div class="col-lg-4 text-center my-5">
                <a href="" target="_blank">
                    <span class="fa-stack fa-3x">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                            </span></a>
                <p class="h-25">Info</p>
            </div>
        </div>
    </div> <!-- /.col-lg-6 -->
{% endblock %}
